  /********************/
 /**** NAVIGATION ****/
/********************/

.nav {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6;
  background-color: #8CC6FF;
  margin: 0;
  padding: 0;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #E2FC6D;
  cursor: pointer;
}

.nav a:hover {
  color: #57E695;
  text-decoration: wavy;
}

.in-project-nav {
  transition-property: transform;
  transition-duration: 1.5s;
  transform: translate(90vw);
  border: solid #E6B557 0.2em;
}
