* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


  /********************/
 /**** TYPOGRAPHY ****/
/********************/


body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6;
  background-color: #8CC6FF;
}

a {
  text-decoration: none;
  color: #E2FC6D;
  cursor: pointer;
}

a:hover {
  color: #57E695;
  text-decoration: wavy;
}


  /****************/
 /**** LAYOUT ****/
/****************/

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  display: flex;
  width: 100%;
}

.jobs {
  flex-wrap: wrap;
}

.col {
  margin: 2em;
}

.about-me {
  text-align: justify;
}

.nav {
  position: absolute;
}

  /****************/
 /**** STYLES ****/
/****************/

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}